.videoCardWrapper{
    height: 100%;
    width: 30%;
    margin-left: 35%;
    box-shadow: 2.5px 2.5px 2.5px 2.5px grey;
}
.video-card{
    height: 75%;
    width: 100%;
    margin: auto;
    position: relative;
}

.video-card-username{
    z-index:1;
    position: absolute;
    bottom: 10rem;
    left: 20px;
}

.video-card-music{
    z-index: 1;
    font-weight: 800;
    position: absolute;
    bottom: 9rem;
    left: 12px;
}

.video-card-comment-box{
    background-color: aqua;
    height: 40%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.actual-comments{

}


.comment-form{
    height: 10%;
    display: flex;
}

.comment-form input{
    width: 85%;
}


.video-card-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.comment-form{
    height: 10%;
    display: flex;
}

.comment-form input{
    width: 85%;
}

.notLike{
    height: 1.25rem;
    width: 1.25rem;
    font-size: 1rem;
    font-stretch: expanded;
}

.Like{
    height: 1.25rem;
    width: 1.25rem;
    font-size: 1rem;
}

.fa{
    padding: 0.75rem;
    font-size: 2.5rem;
}